.hero {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 80px 0;
}
.hero__content {
  padding-right: 126px;
}
.hero__description {
  margin-top: 24px;
  max-width: 485px;
}
.hero__button {
  margin-top: 32px;
}
